.one {
  color: greenyellow;
  background-color: grey;
  border: 1px solid black;
  padding: 20px;
}

.image {
  border: 2px solid black;
}

tr {
  border: 2px solid black;
}

th {
  border: 2px solid black;
}
